* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 350px;
}
/* Header Section */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 2rem;
}

.logo {
  flex: 1;
}

.logo a {
  color: red;
  text-decoration: none;
  flex: 1;
}

.navbar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 1rem;
  flex: 1;
}

.navbar a {
  text-decoration: none;
  text-wrap: nowrap;
  color: black;
}

.navbar a:hover {
  color: red;
}

.utilities {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 1.5rem;
  justify-content: end;
  flex: 1;
}

.utilities input {
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 2rem;
  padding-left: 0.4rem;
  padding-right: 3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  width: 10rem;
}

.utilities input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.utilities a:hover {
  color: red;
}

/* Main Section */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-header a {
  text-decoration: none;
  color: black;
}

.section-header a:hover {
  color: red;
}

/* Hero Container */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem;
  gap: 1rem;
  font-weight: 500;
}

.movie-specs {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-rating {
  font-weight: bold;
}

.user-rating i {
  color: red;
}

.age-rating {
  border: 1px solid black;
  font-size: 0.9rem;
  padding: 0.1rem 0.3em;
  border-radius: 5px;
}

.movie-length {
  font-weight: bold;
}

.movie-descr {
  width: 50%;
  min-width: 350px;
  margin-top: -0.5rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.movie-info span {
  font-weight: bold;
  color: red;
}

.cta-btn {
  background-color: red;
  color: white;
  padding: 0.7rem 0.5rem 0.7rem 0.8rem;
  border-radius: 5px;
  text-decoration: none;
  width: 7rem;
}

.populars-section {
  margin: 1rem;
}

.recommended-section {
  margin: 3rem 1rem 1rem;
}

.movie-slider {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.movie-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  gap: 0.5rem;
  height: 180px;
  justify-content: center;
  min-width: 400px;
}

.movie-card h2 {
  margin-bottom: 0.5rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1rem 1rem 1rem;
}

.footer-secondary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.footer-navbar {
  display: flex;
  gap: 1rem;
  color: black;
}

.footer-navbar a {
  text-decoration: none;
}

footer a:hover {
  color: red;
}

footer p {
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
}

.social-icons {
  margin: 0.5rem 0rem;
  font-size: 1.5rem;
}

.store-icons {
  margin: 0.5rem 0rem;
  font-size: 1.5rem;
}
